@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body {
    background-color: #f7f7f7;
    padding: 0 20px;
}

.app {
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(214, 214, 214, 0.11);
    border-radius: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 16px;
}

.input-wrap {
    display: flex;
    gap: 10px;
}

.input-wrap input {
    flex: 1;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-wrap button {
    padding: 10px 14px;
    border: none;
    border-radius: 5px;
    
    color: #fff;
    font-size: 16px;
}

.input-wrap button[disabled]{
    opacity: .6;
    cursor: not-allowed;
}